footer.footer 
    .footer__container.container 
        .footer__social    
                    a(href="").footer__social-item 
                        <i class="fab fa-instagram"></i>
                    a(href="").footer__social-item 
                        <i class="fab fa-whatsapp"></i>
                    a(href="").footer__social-item 
                        <i class="fab fa-telegram"></i> 
        .footer__contacts
            a(href="tel:+7-920-258-67-64").footer__phone +7-920-258-67-64
            p.footer__adress Адрес: г. Москва, проезд Локомотивный, д. 21
            p.footer__all-rigths-reserved ООО “Баустрой”. Все права защищены.
        .footer__nav 
            nav.footer__nav 
                a(href="").footer__nav-item 
                    span Главная 
                a(href="").footer__nav-item 
                    span О школе
                a(href="").footer__nav-item 
                    span Услуги
                a(href="").footer__nav-item 
                    span Аналитика
                a(href="").footer__nav-item 
                    span BSKids
                a(href="").footer__nav-item 
                    span Контакты
        
