header.header 
    .header__dark-layer.dark-layer 
    .header__container.container 
        .header__heading 
            nav.header__nav 
                a(href="").header__nav-item 
                    span Главная 
                a(href="").header__nav-item 
                    span О школе
                a(href="").header__nav-item 
                    span Услуги
                a(href="").header__nav-item 
                    span Аналитика
                a(href="").header__nav-item 
                    span BSKids
                a(href="").header__nav-item 
                    span Контакты
            .header__menu-button
                .header__menu-button-line 
                .header__menu-button-line 
                .header__menu-button-line 
        .header__main 
            .header__logo 
                img(src="../../assets/images/logotipes/brokerage-logo-compressed.png", alt="Логотип брокерэйджскул").header__logo-img 
            .header__titles 
                span.header__up-title Школа трейдинга
                h1.header__main-title Brokerage School
                span.header__down-title Мы поможем понять финансовый мир и увеличить Ваш капитал!
        .header__footer 
            .header__social    
                a(href="https://instagram.com/brokerageschool?igshid=i3hc45zhyrcp").header__social-item 
                    <i class="fab fa-instagram"></i>
                a(href="https://wa.me/+79202586763").header__social-item 
                    <i class="fab fa-whatsapp"></i>
                a(href="t.me/brokerageschool" target='_blank').header__social-item 
                    <i class="fab fa-telegram"></i>
            .header__arrow-down 
                a(href="") 
                    <i class="fas fa-chevron-down"></i>
