doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="./js/index.js") 
        title Brokerage - школа трейдинга
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Red+Rose:wght@300;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/index.css")

    body 
        include ./modules/main-header.pug
        main.main 
            .main__section.why-trading 
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text Почему нужно изучать трейдинг
                        .section-title__right-line.section-title__line
                    .why-trading__content
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/study.jpg", alt="Университет")
                            .wt-item__container 
                                h3.wt-item__title Не нужен диплом или вышка
                                p.wt-item__text многие преуспевающие трейдеры так и не закончили университет, но достигли большого успеха на рынках валют и ценных бумаг
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/freelance.jpg", alt="Рабочее место фрилансера")
                            .wt-item__container 
                                h3.wt-item__title Твой офис - вся планета
                                p.wt-item__text трейдер может работать из любого уголка мира, где есть доступ в интернет
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/profit2.jpg", alt="Веер денег")
                            .wt-item__container 
                                h3.wt-item__title Неограниченная прибыль
                                p.wt-item__text многие преуспевающие трейдеры так и не закончили университет, но достигли большого успеха
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/study.jpg", alt="Веер денег")
                            .wt-item__container 
                                h3.wt-item__title Доступность каждому 
                                p.wt-item__text Этот бизнес легко начинать каждому - здесь не требуется большой стартовый капитал
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/boss.jpg", alt="Сам себе босс")
                            .wt-item__container 
                                h3.wt-item__title Cам себе начальник
                                p.wt-item__text никто не стоит над душой, не контролирует и ничего не требует, Вы орагнизуете свою работу самостоятельно
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/charts2.jpg", alt="Графики")
                            .wt-item__container 
                                h3.wt-item__title Творческий процесс 
                                p.wt-item__text в работе трейдера нет никакой рутины: анализ рынка, принятие решения, анализ собственных результатов
            .main__section.lost-profit 
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text Ваша упущенная прибыль
                        .section-title__right-line.section-title__line
                    .lost-profit__content
                        p.lost-profit__text Торговля на рынке ценных бумаг - однин из самых выгодных вариантов вложения собственных средств и обеспечения собственного будущего. Прибыль там можно получать даже во время мирового кризиса, главное - знать, что и когда покупать. Мы научим Вас не упускать потенциальную прибыль и выбирать наилучшие варианты для инвестиций!
                        .lost-profit__cards 
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/mcdonalds.png", alt="Логотип Макдональдс").lp-card__logo-image
                                    span.lp-card__profit 236%
                                p.lp-card__description Практически каждый из нас хоть раз заходил в самую популярную сеть быстрого питания в мире. MacDonalds - идеальный вариант сохранить и приумножить ваши инвестиции в среднесрок. Упущенная прибыль за последние 5 лет 236%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/apple.png", alt="Логотип Apple").lp-card__logo-image
                                    span.lp-card__profit 258%
                                p.lp-card__description "Ну да, конечно у меня IPhone!", "Слышал, IPhone скоро новый гаджет выпустит?" Встречались с таким? А знающие люди видят в этом признак стабильности и роста! Доходность за последние 2 года - 258%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/amazon.png", alt="Логотип Amazon").lp-card__logo-image
                                    span.lp-card__profit 5000%
                                p.lp-card__description Владелец компании - один из богатейших людей мира.  И если вы думаете, что Amazon это только интернет-магазин - сильно ошибаетесь! Доходность за 10 лет свыше 5000%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/facebook.png", alt="Логотип Facebook").lp-card__logo-image
                                    span.lp-card__profit 330%
                                p.lp-card__description Пол пол мира при слове "интернет" вспоминает о своем профиле в популярнейшей соцсети Facebook. Доходность по акциям за последние 5 лет: 330%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/nike.png", alt="Логотип Nike").lp-card__logo-image
                                    span.lp-card__profit 252%
                                p.lp-card__description  Nike - самый известный спортивный бренд на территории земного шара! Доходность за 2020 год составила 252%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/disney.png", alt="Логотип Disney").lp-card__logo-image
                                    span.lp-card__profit 235%
                                p.lp-card__description  Walt Disney Company - один из крупнейших медиаконгломератов индустрии развлечений, известный нам с самого детства! Доходность за 2020 год составила 235%!
