doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="./js/index.js") 
        title Brokerage - школа трейдинга
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Red+Rose:wght@300;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/index.css")

    body 
        include ./modules/main-header.pug
        main.main 
            .main__section.why-trading 
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text Почему нужно изучать трейдинг
                        .section-title__right-line.section-title__line
                    .why-trading__content
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/study.jpg", alt="Университет")
                            .wt-item__container 
                                h3.wt-item__title Не нужен диплом или вышка
                                p.wt-item__text многие преуспевающие трейдеры так и не закончили университет, но достигли большого успеха на рынках валют и ценных бумаг
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/freelance.jpg", alt="Рабочее место фрилансера")
                            .wt-item__container 
                                h3.wt-item__title Твой офис - вся планета
                                p.wt-item__text трейдер может работать из любого уголка мира, где есть доступ в интернет
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/profit2.jpg", alt="Веер денег")
                            .wt-item__container 
                                h3.wt-item__title Неограниченная прибыль
                                p.wt-item__text многие преуспевающие трейдеры так и не закончили университет, но достигли большого успеха
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/study.jpg", alt="Веер денег")
                            .wt-item__container 
                                h3.wt-item__title Доступность каждому 
                                p.wt-item__text Этот бизнес легко начинать каждому - здесь не требуется большой стартовый капитал
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/boss.jpg", alt="Сам себе босс")
                            .wt-item__container 
                                h3.wt-item__title Cам себе начальник
                                p.wt-item__text никто не стоит над душой, не контролирует и ничего не требует, Вы орагнизуете свою работу самостоятельно
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/charts2.jpg", alt="Графики")
                            .wt-item__container 
                                h3.wt-item__title Творческий процесс 
                                p.wt-item__text в работе трейдера нет никакой рутины: анализ рынка, принятие решения, анализ собственных результатов
            .main__section.lost-profit 
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text Ваша упущенная прибыль
                        .section-title__right-line.section-title__line
                    .lost-profit__content
                        p.lost-profit__text Торговля на рынке ценных бумаг - однин из самых выгодных вариантов вложения собственных средств и обеспечения собственного будущего. Прибыль там можно получать даже во время мирового кризиса, главное - знать, что и когда покупать. Мы научим Вас не упускать потенциальную прибыль и выбирать наилучшие варианты для инвестиций!
                        .lost-profit__cards 
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/mcdonalds.png", alt="Логотип Макдональдс").lp-card__logo-image
                                    span.lp-card__profit 236%
                                p.lp-card__description Практически каждый из нас хоть раз заходил в самую популярную сеть быстрого питания в мире. MacDonalds - идеальный вариант сохранить и приумножить ваши инвестиции в среднесрок. Упущенная прибыль за последние 5 лет 236%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/apple.png", alt="Логотип Apple").lp-card__logo-image
                                    span.lp-card__profit 258%
                                p.lp-card__description "Ну да, конечно у меня IPhone!", "Слышал, IPhone скоро новый гаджет выпустит?" Встречались с таким? А знающие люди видят в этом признак стабильности и роста! Доходность за последние 2 года - 258%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/amazon.png", alt="Логотип Amazon").lp-card__logo-image
                                    span.lp-card__profit 5000%
                                p.lp-card__description Владелец компании - один из богатейших людей мира.  И если вы думаете, что Amazon это только интернет-магазин - сильно ошибаетесь! Доходность за 10 лет свыше 5000%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/facebook.png", alt="Логотип Facebook").lp-card__logo-image
                                    span.lp-card__profit 330%
                                p.lp-card__description Пол пол мира при слове "интернет" вспоминает о своем профиле в популярнейшей соцсети Facebook. Доходность по акциям за последние 5 лет: 330%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/nike.png", alt="Логотип Nike").lp-card__logo-image
                                    span.lp-card__profit 252%
                                p.lp-card__description  Nike - самый известный спортивный бренд на территории земного шара! Доходность за 2020 год составила 252%
                            .lp-card
                                .lp-card__logo-profit
                                    .lp-card__logo 
                                        img(src="./assets/images/logotipes/disney.png", alt="Логотип Disney").lp-card__logo-image
                                    span.lp-card__profit 235%
                                p.lp-card__description  Walt Disney Company - один из крупнейших медиаконгломератов индустрии развлечений, известный нам с самого детства! Доходность за 2020 год составила 235%!
            .main__section.services
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text Наши услуги
                        .section-title__right-line.section-title__line
                    .services__items
                        article.s-item
                            img(src="./assets/images/icons/base-course.png", alt="Уровень 1").s-item__icon
                            h3.s-item__title учебный курс "базовый"
                            .s-item__description Это базовая программа, рассчитанная на две недели обучения. Слушателям назначается куратор, с которым согласуется посещение и расписание уроков торговли на валютном и Фондовом рынках

                        article.s-item
                            img(src="./assets/images/icons/wide-course.png", alt="Уровень 2").s-item__icon
                            h3.s-item__title учебный курс "расширенный"
                            .s-item__description В данном курсе участвуют слушатели программы Базового курса, а также трейдеры, которые уже имеют базовые знания и хотят больше уделить время практике.

                        article.s-item
                            img(src="./assets/images/icons/expert-course.png", alt="Уровень 3").s-item__icon
                            h3.s-item__title учебный курс "эксперт"
                            .s-item__description В данном курсе участвуют слушатели программы Базового курса, и расширенного курса а также трейдеры, которые уже имеют базовые знания и хотят больше уделить время практике.

                        article.s-item
                            img(src="./assets/images/icons/search-dollar.png", alt="Лупа").s-item__icon
                            h3.s-item__title обзор рынка
                            .s-item__description Обзоры мировых новостей: политика, геополитика, военные конфликты, заседания глав центральных банков, новости крупных мировых компаний. Обсуждение и рекомендации по заработку на данных новостях.

                        article.s-item
                            img(src="./assets/images/icons/profi.png", alt="Профи").s-item__icon
                            h3.s-item__title мастер-классы
                            .s-item__description Групповые занятия совместно с приглашенными спикерами - трейдерами. Мастер классы направленны на получение новых торговых стратегий, методик анализа рынков.

                        article.s-item
                            img(src="./assets/images/icons/signal.png", alt="Колокольчик").s-item__icon
                            h3.s-item__title торговые сигналы
                            .s-item__description Готовые торговые рекомендации в нашем Телеграм - канале
                    a(href="./services.html").services__button.button 
                        span Больше об услугах
            .main__section.about
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text О школе
                        .section-title__right-line.section-title__line   
                    .about__text
                        p В последнее время такое понятие, как экономический кризис каждый знает и прочувствовал на себе неоднократно. Большинство людей приходит к тому, что без формирования денежных резервов и их приумножения практически невозможно жить не испытывая переживаний о завтрашнем дне. На западе уже давно развита культура инвестирования и торговли на финансовых рынках, что помогает людям увеличивать свое финансовое состояние и формировать надежный фундамент на будущее. В нашей стране сфера трейдинга сильно отстает, но с каждым годом количество граждан заинтересованных в изучении финансовых рынков из года в год растет. 
                        p После длительной работы в сфере финансовых рынков мы пришли к пониманию, что на старте этого высокодоходного дела начинающему трейдеру нужно надежная поддержка, нужен грамотный наставник, который в нужный момент может дать совет или указать на причину совершаемых ошибок. Исходя из этого , мы решили создать удобную консалтинговую школу , преподаватели которой понимают нужды трейдера-новичка и могут предложить грамотное обучение с индивидуальным подходом к каждому из учеников.
                        p На данный момент  курсы торговли на финансовых рынках в Brokerage School прошли уже более 2000 человек, что говорит о доступности и качестве нашего обучения. Штат преподавателей  состоит из профессионалов с реальным опытом работы в сфере трейдинга  более  9 лет. С нашей помощью Вы сможете разобраться в финансовых и фондовых рынках, превратить его в свое хобби, понятное и доступное и получать от процесса торговли удовольствие. Как же прекрасно, когда помимо работы, которая уже наверняка надоела, у тебя есть хобби, которое приносит хороший доход.     
                    .about__teachers
                        article.teacher
                            img(src="./assets/images/teachers/shagabutdinov.jpg", alt="фото Шагабутдинов Риналь").teacher__photo 
                            h3.teacher__name Шагабутдинов Риналь
                            .teacher__descr опыт торговли более 10 лет 
                        article.teacher
                            img(src="./assets/images/teachers/smirnov.jpg", alt="фото Смирнов Павел").teacher__photo
                            h3.teacher__name Смирнов Павел
                            .teacher__descr опыт торговли более 8 лет
                    .about__text
                        p Помимо 4 ступеней обучающих курсов, Brokerage School предлагает Вам мастер-классы от экспертов трейдинга: как платные, так и бесплатные, а так же подписку на закрытый Telegram-канал. Подписчики регулярно получают торговые сигналы и еженедельный обзор состояния финансового и фондового рынков с аналитикой и идеями для открытия сделок.
                        p Мы предлагаем Вам сделать трейдинг своим хобби и начать получать удовольствие от процесса, получив дополнительный или основной доход!
