doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="./js/index.js") 
        title Brokerage - школа трейдинга
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Red+Rose:wght@300;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/index.css")

    body 
        include ./modules/main-header.pug
        main.main 
            .main__section.why-trading 
                .main__container.container
                    .section-title
                        .section-title__left-line.section-title__line
                        h2.section-title__text Почему нужно изучать трейдинг
                        .section-title__right-line.section-title__line
                    .why-trading__content
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/study.jpg", alt="Университет")
                            .wt-item__container 
                                h3.wt-item__title Не нужен диплом или вышка
                                p.wt-item__text многие преуспевающие трейдеры так и не закончили университет, но достигли большого успеха на рынках валют и ценных бумаг
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/freelance.jpg", alt="Рабочее место фрилансера")
                            .wt-item__container 
                                h3.wt-item__title Твой офис - вся планета
                                p.wt-item__text трейдер может работать из любого уголка мира, где есть доступ в интернет
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/profit2.jpg", alt="Веер денег")
                            .wt-item__container 
                                h3.wt-item__title Неограниченная прибыль
                                p.wt-item__text многие преуспевающие трейдеры так и не закончили университет, но достигли большого успеха
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/study.jpg", alt="Веер денег")
                            .wt-item__container 
                                h3.wt-item__title Доступность каждому 
                                p.wt-item__text Этот бизнес легко начинать каждому - здесь не требуется большой стартовый капитал
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/boss.jpg", alt="Сам себе босс")
                            .wt-item__container 
                                h3.wt-item__title Cам себе начальник
                                p.wt-item__text никто не стоит над душой, не контролирует и ничего не требует, Вы орагнизуете свою работу самостоятельно
                        .why-trading__item.wt-item 
                            .wt-item__picture 
                                img(src="./assets/images/charts2.jpg", alt="Графики")
                            .wt-item__container 
                                h3.wt-item__title Творческий процесс 
                                p.wt-item__text в работе трейдера нет никакой рутины: анализ рынка, принятие решения, анализ собственных результатов

