//why trading block

.why-trading{
    display: flex;

    &__content{
        display: flex;
        margin-bottom: 2vh;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include screen_360{
    }
    @include screen_576{
    }
    @include screen_768{
    }
    @include screen_992{
    }
}

.wt-item{
    display: flex;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin-bottom: 2vh;

    @include screen_576{
        width: 48%;
        margin-bottom: 4vh;
    }
    @include screen_768{
    }
    @include screen_992{
        width: 30%;
    }
    @include screen_1200{
        width: 30%;
    }
    &__picture{
        display: flex;
        align-self: stretch;

        & > img{
            width: 100%;
        }
    }
    &__container{
        margin: 3%;
    }
    &__title{
        font-size: 1.4rem;
        margin-bottom: 5px;
        @include screen_992{
            font-size: 1.6rem;
        }
    }
    &__text{
        font-size: 1.2rem;
        @include screen_992{
            font-size: 1.4rem;
        }
    }
}

.lost-profit{
    background-color: $mainBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $mainWhite;

    &__text{
        font-size: 1.2rem;
        @include screen_992{
            font-size: 1.6rem;
        }
    }
    &__cards{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 4vh 0;
        @include screen_576{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}
.lp-card{
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
    
    @include screen_576{
        width: 48%;
        border: 1px solid $mainWhite;
        box-shadow: 0px 0px 8px rgba(236, 238, 243, 0.25);
        padding: 10px;
    }
    @include screen_768{
    }
    @include screen_992{
        padding: 10px 20px;
    }
    @include screen_1200{
    }
    &:nth-of-type(2n){
        flex-direction: row-reverse;
        & > .lp-card__logo-profit{
            margin-right: 0;
            margin-left: 10px;
        }
    }

    &__logo-profit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;

    }
    &__logo{
        flex-shrink: 0;
        width: 60px;
    }
    &__logo-image{
        height: auto;
        width: 100%;
    }
    &__profit{
        font-size: 1.6rem;
    }
    &__description{
        font-size: 1.2rem;
        @include screen_992{
            font-size: 1.4rem;
        }
    }
}
.services{
    background-color: $mainBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $mainWhite;
    
    &__items{
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
        @include screen_576{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @include screen_992{
        }
        @include screen_1200{
        }
    }
    &__button{
        margin-top: auto;
        @include screen_576{
            width: 50%;
            align-self: center;
        }
        @include screen_1200{
            width: 30%;
        }
    }
}
.s-item{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.425);
    box-shadow: 0px 0px 8px rgba(236, 238, 243, 0.8);

    color: $textBlack;
    margin-bottom: 2vh;
    padding: 15px;
    position: relative;
    min-height: 150px;

    &:last-child{
        margin-bottom: 0;
        @include screen_576{
            margin-bottom: 2vh;
        }
        @include screen_1200{
            margin-bottom: 3vh;
        }
    }
    @include screen_576{
        width: 48%;
    }
    @include screen_992{
        width: 30%;
    }
    @include screen_1200{
        width: 30%;
        padding: 30px;
        margin-bottom: 3vh;
    }
    &__icon{
        position: absolute;
        height: 90%;
        opacity: 0.15;
        top: 5%;
        right: 5%;
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: 2vh;
        font-size: 1.4rem;
        @include screen_992{
            width: 70%;
            font-size: 1.8rem;
            margin-bottom: 30px;
        }
    }
    &__description{
        font-size: 1.2rem;
        @include screen_992{
            font-size: 1.6rem;
            margin-bottom: 30px;
        }
    }
}
.about{
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;

    }
    &__text{
        font-size: 1.2rem;
        @include screen_768{
            font-size: 1.4rem;
        }
        @include screen_992{
            font-size: 1.6rem;
            line-height: 140%;
        }
        & > p{
            margin-bottom: 2vh;
        }
    }
    &__teachers{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vh 0;

        @include screen_576{
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}
.teacher{
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    @include screen_576{
        width: 30%;
        margin-left: 4vw;
    }
    &__photo{
        margin-bottom: 5px;
    }
    &__name{
        font-size: 1.6rem;
        margin-bottom: 5px;
    }
    &__descr{
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
    @include screen_576{
        
    }
}
.feedbacks{
    background-color: $mainBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $mainWhite;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        @include screen_992{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.fb-item{
    display: flex;
    flex-direction: column;
    border: 1px solid $mainWhite;
    box-shadow: 0px 0px 8px rgba(236, 238, 243, 0.25);
    padding: 2rem 3rem;
    margin-bottom: 2vh;
    @include screen_992{
        width: 48%;
    }
    &__name{
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    &__text{
        font-size: 1.2rem;
        & > *{
            line-height: 140%;
        }
        @include screen_768{
            font-size: 1.4rem;
        }
        
    }
}
