//why trading block

.why-trading{

    &__content{
        margin-bottom: 2vh;
    }
}

.wt-item{
    display: flex;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin-bottom: 2vh;
    
    &__picture{
        display: flex;
        align-self: stretch;

        & > img{
            width: 100%;
        }
    }
    &__container{
        margin: 3%;
    }
    &__title{
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
    &__text{
        font-size: 1.2rem;
    }
}
