$darkLayer: rgba(0, 0, 0, 0.85);
$mainBlack: rgba(0, 0, 0, 0.95);
$textBlack: #333333;
$mainWhite: rgba(230, 231, 235, 1);
$mainBlue: rgb(0, 72, 255);
$blueLine: linear-gradient(90deg, #0040E3 0%, rgba(29, 173, 235, 0.99) 100%);
$blueGradientVertical: linear-gradient(180deg, rgba(0, 71, 255, 0.99) 0%, rgba(87, 108, 117, 0.98) 100%);
$blackGradient: black;
$blueText: rgb(29, 173, 235);
$redrose: 'Red Rose', cursive;
$roboto:'Roboto', sans-serif;
