@import './normalize';
@import './variables';
@import './mixins';
@import './index-header';

html{
    font-size: 10px;
}
body{
    color: $textBlack;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: $roboto;
}
address{
    font-style: inherit;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.dark-layer{
    position: absolute;
    background-color: $darkLayer;
    width: 100%;
    height: 100%;
    background: rgba(0, 1, 10, 0.65);
    backdrop-filter: blur(5px);
}
.section-title{
    display: flex;
    align-self: stretch;
    align-items: center;
    margin: 4vh 0;
    @include screen_576{
        margin: 8vh 0;
    }
    @include screen_768{
        margin: 4vh 0;
    }
    @include screen_992{
        margin: 8vh 0;
    }
    &__line{
        height: 2px;
        flex-grow: 1;
        background-color: $mainBlue;
    }
    &__text{
        margin: 0 10px;
        font-size: 1.6rem;
        @include screen_576{
            font-size: 1.8rem;
        }
        @include screen_992{
            font-size: 2.0rem;
        }
    }
    
    &__left-line{

        @include screen_576{
            flex-grow: 0;
            width: 15%;
        }
        @include screen_768{
        }
        @include screen_992{
        }
    }   
}
.button{
    display: flex;
    background: linear-gradient(180deg, rgba(0, 71, 255, 0.5) 0%, rgba(29, 173, 235, 0.5) 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 4vh;
    font-size: 1.2rem;

    @include screen_992{
       padding: 1rem 5rem;
       width: 30%;
       align-self: center;
    }

    &__text {
        font-weight: bold;
        margin: auto;
        font-size: 1.2rem;
        color: white;
        @include screen_768{
            font-size: 1.4rem;
        }
    }
    &_on-white{
        background: linear-gradient(180deg, rgba(11, 168, 236, 0.9801) 0%, rgba(134, 168, 255, 0.99) 100%);

    }
    &:hover{
        background: linear-gradient(180deg, rgba(134, 168, 255, 0.99) 0%, rgba(11, 168, 236, 0.9801) 100%);
    }
    
    @include screen_1200{
        padding: 15px 20px;
    }
}
@import './index-main';
